<h3>Employee List</h3>

<!-- <ul>
    @for (employee of employees; track employee.id) {
        <li>
            <div>
                {{employee.firstName}} {{employee.lastName}}
            </div>
        </li>
    }
</ul> -->
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Status</th>
            <th>Actions</th>
       </tr>
    </thead>
    <tbody>
        @for (emp of employees() ; track emp.id) {
            <tr>
                <td>{{emp.firstName}} {{emp.lastName}}</td>
                <td>{{emp.departmentName}}</td>
                <td>{{emp.status}}</td>
                <td><a class="btn btn-link" [routerLink]="'/details/'+emp.id">View Details</a></td>
            </tr>
        }
    </tbody>
</table>
</div>

