* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ul {
    list-style: none;
    border: 0.1em solid #eee;   
    padding: 0;
}

li {
    padding: 0.5em 0;
    border-bottom: 0.1em solid #eee;
    div {
        margin-left: 1em;
    }
}

table {
    text-align: center;
    padding: 0;
}
.table-responsive {
    margin: 1em;
}
th,td {
    vertical-align: middle;
}
h3 {
    margin-top: 1em;
    margin-bottom: 1em;;
    margin-left: 1em;;
}

.filters {
    display: flex;
    gap: 2em;
    justify-content: center;
}
